<div class="home_not_logged_in">
  <div class="welcome_message">
    <h1>Sayings for you</h1>
    <h3>Get new points of view</h3>
    <div class="panel">
      <a href=<%= new_user_registration_path %>>
        <button>
          Create account
        </button>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <aside class="col-md-3">
        </aside>
        <div class="col-md-6 new_sayings">
          <h3>New Sayings</h3>
          <%= render 'shared/feed' %>
        </div>
        <div class="col-md-3">
          <div id="search_sayings">
            <%= render 'sayings/search_sayings_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
