@import "bootstrap-sprockets";
@import "bootstrap";

.icon_image {
	// 画像を丸く縁取る
	border-radius: 100px;

	// 縦横比一定でトリミング
	object-fit: cover;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;

	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid lightgray;
	}
}